

body {
    height:100%
    margin: 0 auto;
    padding:0;
    font-family: 'Bubblegum Sans';

}

/* /* less than 768px => decrease font size , nav bar,etc
                      main body => vertical & last order*/
@media only screen and (max-width: 768px) {
    .main-nav {
        font-size: 0.5em;
        padding: 0;
    }
}




/* less than 320px => delete nav bar, instead of collapsed button left*/
@media only screen and (max-width: 320px) {
    /* .main-nav {
        font-size: 10vw;
        padding: 0;
    } */
} */

.navbar{
    
    color: rgb(255, 255, 255);
    transition: 1s;
}


#navbarTogglerDemo01 li{
    display: flex;
}


.nav-link{
    color: darkgray;
    transition: 1s;
    margin-left: auto;
}

    



.push :hover{
    color: rgb(255, 255, 255);
    
}



/* .grid-wrapper {
    display: grid;
    grid-template-rows: repeat(auto-fill, minmax(350px, 1fr));
    grid-gap: 20px;
} */

.container {
    /*show heigh: auto*/
    height: 70vh; 
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    width: 100vw;
    text-align: center;
    background-color: #444;
    color: #fff;
}

#logo{
    width: 5rem;
    height: 5rem;
}

#centreName{
    font-size: 2em; 
    text-align: center;
}

#mainNav{
    background-color:purple;
}

/* #advertisContainer{
    margin-top: 20px;
} */

#advertisBox{
    align-items: center; 
    column-gap: 20px;
}

.advertis{
    width:10rem;
    padding: 2vw;
}

.flex-column{
    margin-top: 10px;
}

h2{
    text-align: center;
}
#loginimg{
    width: 7rem;
    margin-left: -1rem;  
}
#parentPortal{
    margin-right: auto; 
    color:rgb(13, 77, 253); 
}
#adminPortal{
    margin-right: auto; 
    color:purple;
}
#links{
    font-size:1rem; 
    outline: none; 
    padding-top: 1rem; 
    align-items: center; 
}
.imgbox{
    width: 4em;
    height: 4em;
    box-shadow: 0.8em 0.8em 1.3em rgba(0,0,0,0.1),
    -0.8em -0.8em 1.3em rgba(255, 255, 255, 1);
    border-radius: 0.8em;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: #efeeee;
    transition: box-shadow, .2s ease-out;
    position: relative;
    margin: 0;
}

.imgbox .imgs {
    width:2em;
    transition: width .2s ease-out;

}

.imgbox:hover{
    box-shadow: 0 0 0  rgba(0,0,0,0.1),
    0 0 0 rgba(255,255,255,1),
    inset 0.8em 0.8em 1.3em rgba(0,0,0,0.1),
    inset -0.8em -0.8em 1.3em rgba(255, 255, 255, 1);
}

.imgbox:hover .imgs {
    width:1.8em;
    /* transition: width .2s ease-out; */
}

#dataTable th,
#dataTable td {
  padding: 0.75rem;
  vertical-align: center;
  text-align:center;
  border-top: 1px solid #e3e6f0;
}

#dataTable thead th {
  vertical-align: center;
  text-align:center;
  border-bottom: 2px solid #e3e6f0;
}

.scroll-to-top {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    display: none;
    width: 2.75rem;
    height: 2.75rem;
    text-align: center;
    color: #fff;
    background: rgba(90, 92, 105, 0.5);
    line-height: 46px;
  }
  
  .scroll-to-top:focus, .scroll-to-top:hover {
    color: white;
  }
  
  .scroll-to-top:hover {
    background: #5a5c69;
  }
  
  .scroll-to-top i {
    font-weight: 800;
  }

  .rounded-sm {
    border-radius: 0.2rem !important;
  }
  
  .rounded {
    border-radius: 0.35rem !important;
  }
  
  .rounded-top {
    border-top-left-radius: 0.35rem !important;
    border-top-right-radius: 0.35rem !important;
  }
  
  .rounded-right {
    border-top-right-radius: 0.35rem !important;
    border-bottom-right-radius: 0.35rem !important;
  }
  
  .rounded-bottom {
    border-bottom-right-radius: 0.35rem !important;
    border-bottom-left-radius: 0.35rem !important;
  }
  
  .rounded-left {
    border-top-left-radius: 0.35rem !important;
    border-bottom-left-radius: 0.35rem !important;
  }
  
  .rounded-lg {
    border-radius: 0.3rem !important;
  }
  
  .rounded-circle {
    border-radius: 50% !important;
  }
  
  .rounded-pill {
    border-radius: 50rem !important;
  }
  
  .rounded-0 {
    border-radius: 0 !important;
  }

  @media (max-width: 575.98px) {
    .table-responsive-sm {
      display: block;
      width: 100%;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
    }
    .table-responsive-sm > .table-bordered {
      border: 0;
    }
  }
  
  @media (max-width: 767.98px) {
    .table-responsive-md {
      display: block;
      width: 100%;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
    }
    .table-responsive-md > .table-bordered {
      border: 0;
    }
  }
  
  @media (max-width: 991.98px) {
    .table-responsive-lg {
      display: block;
      width: 100%;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
    }
    .table-responsive-lg > .table-bordered {
      border: 0;
    }
  }
  
  @media (max-width: 1199.98px) {
    .table-responsive-xl {
      display: block;
      width: 100%;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
    }
    .table-responsive-xl > .table-bordered {
      border: 0;
    }
  }
  
  .table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
  
  .table-responsive > .table-bordered {
    border: 0;
  }